<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/application.html}">

<head>
  <title>Urls</title>
  <style>
    .link-dark:hover {
      background-color: bisque;
    }

  </style>
</head>
<section layout:fragment="content">
  <table class="table">
    <thead>
      <th>ID</th>
      <th>Имя</th>
      <th>Последняя проверка</th>
      <th>Код ответа</th>
    </thead>
    <tbody>
      <tr th:each="url : ${urls}">
        <td th:text="${url.key}"/>
        <td>
          <a th:text="${url.value[0]}" th:href="@{/urls/{id}(id=*{url.key})}" class="link-dark"></a>
        </td>
        <td th:text="(${url.value[1] == null}? '' : ${#temporals.format(url.value[1], 'dd/MM/yyyy HH:mm')})"/>
        <td th:text="${url.value[2]}"/>
      </tr>
    </tbody>
  </table>
</section>

