<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Page Analizator</title>
  <link rel='stylesheet' href='/webjars/bootstrap/5.1.1/css/bootstrap.min.css'>
  <script src="/webjars/bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<section style="padding-top: 200px" layout:fragment="content">
  <div>
    <p>
    <h1 style="text-align: center">Hello, Boris:)</h1>
    </p>
  </div>
</section>
</body>
</html>

