<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/application.html}">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Page Analizator</title>
  <link rel='stylesheet' href='/webjars/bootstrap/5.1.1/css/bootstrap.min.css'>
  <script src="/webjars/bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<section style="padding-top: 200px" layout:fragment="content">
  <div>
    <p>
    <h1 style="text-align: center">Анализатор страниц</h1>
    </p>
    <div class="mb-3">
      <label>Бесплатно проверяйте сайты на SEO пригодность</label>
      <form class="row g-3" action="/urls" method="post">
        <div class="col-auto">
          <label for="inputUrl" class="visually-hidden">url</label>
          <input
                  class="form-control"
                  type="text" name="url" th:value="*{url}"
                  id="inputUrl" placeholder="url"
          >
        </div>
        <div class="col-auto">
          <button class="btn btn-primary mb-3" type="submit">Check</button>
        </div>
      </form>
    </div>
  </div>
</section>
</body>
</html>

